<div class="container">
  <div class="columns is-multiline">
  <% if tweet.errors.any? %>
    <div class="column is-4 is-offset-4">
      <article class="message is-danger">
        <div class="message-body">
          <p><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet to be created: </p>
          <br>
          <p>
          <% tweet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </p>
        </div>
      </article>

      <div class="content is-size-3">
        <h1><%= heading %></h1>
      </div>
    </div>
  <% end %>

    <div class="column is-4 is-offset-4">
      <%= form_with model: tweet, local: true do |form| %>
        <div class="field">
          <%= form.label :title, class: "label" %>
          <div class="control">
            <%= form.text_field :title, class: "input", placeholder: "Title" %>
          </div>
          <% if tweet.errors.any? %>
            <p class="help is-danger">This Title is invalid</p>
          <% end %>
        </div>


        <div class="field">
          <%= form.label :body, class: "label" %>

          <div class="control">
            <%= form.text_area :body, class: "textarea", placeholder: "body" %>
          </div>
          <% if tweet.errors.any? %>
            <p class="help is-danger">This body is invalid</p>
          <% end %>
        </div>


        <div class="field is-grouped">
          <div class="control">
            <%= form.submit button_name, class: "button is-link" %>

          </div>
          <div class="control">
            <%= link_to "Back", cancel_path, class: "button is-link is-light" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%  %>