<h1>New Tweet</h1>

<%= form_with scope: :tweet, url: '/tweets', local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit "Save Tweet" %>
  </p>

  <%= link_to 'Back', root_path %>
<% end %>



